@Html.ValidationSummary(true)
@model BaiCuoiKy.Models.ListGioHangModel
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">


        @using (Html.BeginForm("CapNhatSoLuong", "GioHang", FormMethod.Post))
        {
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.ListGioHang != null)
                                    {
                                        for (int i = 0; i < Model.ListGioHang.Count; i++)
                                        {
                                            <tr>
                                                <td class="product-col">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="@Url.Action("Detail", "Home", new { id = Model.ListGioHang[i].MaSanPham })">
                                                                <img src="@Model.ListGioHang[i].AnhBia" alt="Product image">
                                                            </a>
                                                        </figure>

                                                        <h3 class="product-title">
                                                            <a href="@Url.Action("Detail", "Home", new { id = Model.ListGioHang[i].MaSanPham })">@Model.ListGioHang[i].TenSanPham</a>
                                                        </h3><!-- End .product-title -->
                                                    </div><!-- End .product -->
                                                </td>
                                                <td class="price-col">@String.Format("{0:0,0}", Model.ListGioHang[i].GiaBan) đ</td>
                                                <td class="quantity-col">
                                                    <div class="cart-product-quantity">
                                                        @Html.TextBoxFor(sp => Model.ListGioHang[i].SoLuong, new { type = "number", @class = "form-control" })
                                                        @Html.ValidationMessageFor(item => Model.ListGioHang[i].SoLuong)
                                                        @*<input type="number" class="form-control" value="@item.SoLuong" data-decimals="0" required>*@
                                                    </div><!-- End .cart-product-quantity -->
                                                </td>
                                                <td class="total-col">@String.Format("{0:0,0}", Model.ListGioHang[i].GiaTong)đ</td>
                                                <td class="remove-col"><a href="@Url.Action("XoaSanPham", "GioHang", new { id = Model.ListGioHang[i].MaSanPham })"><i class="icon-close"></i></a></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table><!-- End .table table-wishlist -->

                            <div class="cart-bottom">
                                <button type="submit" class="btn btn-outline-dark-2">
                                    <span>Cập nhật</span>
                                    <i class="icon-refresh"></i>
                                </button>
                            </div><!-- End .cart-bottom -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Tổng tiền trong giỏ</h3><!-- End .summary-title -->
                                @if (Model != null && Model.ListGioHang != null)
                                {
                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th class="col-7"></th>
                                                <th class="col-5"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="summary-subtotal">
                                                <td>Tổng cộng:</td>
                                                <td>@String.Format("{0:0,0}", Model.TongTien) đ</td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr class="summary-shipping">
                                                <td>Giao hàng:</td>
                                                <td>&nbsp;</td>
                                            </tr>

                                            <tr class="summary-shipping-row">
                                                <td colspan="2">
                                                    <div class="custom-control checkbox-inline d-flex">
                                                        @Html.CheckBoxFor(item => item.COD) &nbsp;
                                                        @Html.LabelFor(item => item.COD)
                                                    </div><!-- End .custom-control -->
                                                </td>
                                            </tr><!-- End .summary-shipping-row -->

                                            <tr>
                                                @Html.ValidationMessageFor(item => item.Shipping, "", new { @class = "text-danger" })
                                            </tr>


                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        @Html.RadioButtonFor(item => item.Shipping, 2, new { @checked = "checked" })
                                                        @Html.LabelFor(item => item.Shipping, "Thường")
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>30.000 đ</td>
                                            </tr><!-- End .summary-shipping-row -->

                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        @Html.RadioButtonFor(item => item.Shipping, 3)
                                                        @Html.LabelFor(item => item.Shipping, "Nhanh")
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>50.000 đ</td>
                                            </tr><!-- End .summary-shipping-row -->

                                            <tr class="summary-total">
                                                <td>Tổng tiền:</td>
                                                <td>@String.Format("{0:0,0}", Model.TongTienSauShip) đ</td>
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->
                                }

                                <a href="@(Session["GioHang"] == null? "#" :  Url.Action("Index", "ThanhToan"))" class="btn btn-outline-primary-2 btn-order btn-block">THANH TOÁN</a>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        }


    </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.intellisense.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.slim.js"></script>
<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
